In [7]:
import pandas as pd

In [137]:
filePath='data_Coindix_StableCoins.csv'
data = pd.read_csv(filePath)
classInvesting= [{'name':'Class A','greater_than':50000000,'less_than':99999999999999999999999999999, 'porcentMin':0.35,'porcentMax':1},
                {'name':'Class B','greater_than':10000000,'less_than':50000000, 'porcentMin':0,'porcentMax':0.35},
                {'name':'Class C','greater_than':0,'less_than':10000000, 'porcentMin':0,'porcentMax':0.30}]
investing = 621750000*4
data.sort_values(by=['APY_%'],  ascending=False)

,Name,Protocol,Chain,TVL_$,Base_APY_$,Reward_APY_%,Rewards,APY_%,7d_ago_%
289,USDCEURS,Uniswap,Polygon,22694,25.82,0.00,NaN,25.82,3.0
161,BUSDJCHF,Ellipsis,BNB Chain,887117,0.07,16.74,EPX,16.81,3.0
201,BUSD,Vector,Avalanche,293293,0.00,15.07,PTP,15.07,3.0
195,MIMUSDC,Beefy,Fantom,307144,13.26,0.00,NaN,13.26,3.0
178,GUSDUSDC,Uniswap,Ethereum,579386,13.25,0.00,NaN,13.25,3.0
...,...,...,...,...,...,...,...,...,...
264,MIMUSDT,Uniswap,Ethereum,52804,0.02,0.00,NaN,0.02,3.0
120,USDCUSDC,Uniswap,Ethereum,1999612,0.02,0.00,NaN,0.02,3.0
269,MAIUSDC,Quarry,Solana,49189,0.00,0.02,SBR,0.02,3.0
172,DAIBUSD,ApeSwap,BNB Chain,784629,0.02,0.00,NaN,0.02,3.0
14,FRAXUSDC,Uniswap,Ethereum,116809567,0.01,0.00,NaN,0.01,3.0

In [86]:
tabs_=['A','B','C']
totalDataClass=None
for i, tab_ in enumerate(tabs_):    
    
        
        data_=data[(data['TVL_$']<classInvesting[i]['less_than']) & (data['TVL_$']>=classInvesting[i]['greater_than'])].sort_values(by=['APY_%'],  ascending=False)
        data_['NameClass']=classInvesting[i]['name']
        
        if totalDataClass is None:
            totalDataClass=data_
        else:
            totalDataClass=totalDataClass.append(data_)
totalDataClass=totalDataClass.sort_values(by=['APY_%'],  ascending=False)
#cumpliendo el minimo de las validaciones
investingData = pd.DataFrame(columns=['NameClass','Name','Protocol','Chain','TVL_$','APY_%','Inverted','PorcentInvested'])
#validacion del minimo de la clase a
porcentMin=classInvesting[0]['porcentMin']
print('Class A invirtiendo lo minimo')
varInvesting=investing
totalDataClassA=totalDataClass[totalDataClass['NameClass']=='Class A']


for index,row in totalDataClassA.iterrows():
    if varInvesting>0: #se comprueba que quede para invertir                   
        if  row['TVL_$']/investing<=1 and row['TVL_$']/investing>0: #si no llega al limite de invercion
            if porcentMin-porcentInvesting>0:
                porcentInvesting=row['TVL_$']/investing
                porcentMin=porcentMin-porcentInvesting
            else:
                porcentInvesting=porcentMin
                porcentMin=0

            print(porcentMin)
            row['Inverted'] = row['TVL_$']
            row['PorcentInvested'] = porcentInvesting
            investingData=investingData.append(row)  
            varInvesting = varInvesting-row['TVL_$']   
        else: #si llega o quiere pasar el limite de la invercion
            
            porcentInvesting=porcentMin
            porcentMin=porcentMin-porcentInvesting

            row['Inverted'] = varInvesting
            row['PorcentInvested'] = porcentInvesting
            investingData=investingData.append(row)
            varInvesting = 0 
    else:
        break
print(investingData.loc[:,['NameClass','Name','Protocol','Chain','TVL_$','APY_%','Inverted','PorcentInvested']])
if porcentMin<0:
    print('No se cumple minimo de invercion Clase A')
elif porcentMin>=0:
    print('Se cumple minimo de invercion Clase A')

Class A invirtiendo lo minimo
-0.4891636509851227
0
  NameClass      Name Protocol     Chain      TVL_$  APY_%   Inverted  \
4   Class A      USDC    Maple  Ethereum  521750000  10.06  521750000
9   Class A  USDTUSDC      VVS    Cronos  237060000   9.47  237060000

   PorcentInvested
4         0.839164
9        -0.489164
Se cumple minimo de invercion Clase A

In [139]:
tabs_=['A','B','C']
totalDataClass=None
for i, tab_ in enumerate(tabs_):    
    
        
        data_=data[(data['TVL_$']<classInvesting[i]['less_than']) & (data['TVL_$']>=classInvesting[i]['greater_than'])].sort_values(by=['APY_%'],  ascending=False)
        data_['NameClass']=classInvesting[i]['name']
        
        if totalDataClass is None:
            totalDataClass=data_
        else:
            totalDataClass=totalDataClass.append(data_)

#cumpliendo el minimo de las validaciones
investingData = pd.DataFrame(columns=['NameClass','Name','Protocol','Chain','TVL_$','APY_%','Inverted','PorcentInvested'])
#validacion del minimo de la clase a
porcentMin=classInvesting[0]['porcentMin']
print('Class A invirtiendo lo minimo')

#totalDataClassA=totalDataClass[totalDataClass['NameClass']=='Class A'].sort_values(by=['APY_%'],  ascending=False)
totalDataClass=totalDataClass.sort_values(by=['APY_%'],  ascending=False)

#se invierte lo minimo de la clase A
varInvestingClassA=investing*classInvesting[0]['porcentMin']
for index,row in totalDataClass.iterrows():
    if varInvesting>0 and row['NameClass']=='Class A':
        if varInvestingClassA>0: #se comprueba que quede para invertir                   
            if  row['TVL_$']<=varInvestingClassA: #si no llega al limite de invercion
                print('porcentMin')
                row['Inverted'] = row['TVL_$']
                row['PorcentInvested'] = row['Inverted']/investing
                investingData=investingData.append(row)  
                varInvestingClassA = varInvestingClassA-row['Inverted']
            else: #si llega o quiere pasar el limite de la invercion
                row['Inverted'] = varInvestingClassA
                row['PorcentInvested'] = row['Inverted']/investing
                investingData=investingData.append(row)  
                varInvestingClassA = 0 
        else:
            row['Inverted'] = 0
            row['PorcentInvested'] = 0
            investingData=investingData.append(row)  
    else:
        row['Inverted'] = 0
        row['PorcentInvested'] = 0
        investingData=investingData.append(row)  
print(investingData.loc[:,['NameClass','Name','Protocol','Chain','TVL_$','APY_%','Inverted','PorcentInvested']].sort_values(by=['Inverted'],  ascending=False))
        
'''totalDataClass=totalDataClass.sort_values(by=['APY_%'],  ascending=False)
varInvesting=investing-investing*classInvesting[0]['porcentMin']
print(varInvesting)
for index,row in investingData.iterrows():
    if  (row['TVL_$']-row['Inverted'])<=varInvesting: #si no llega al limite de invercion

        row['Inverted'] = (row['TVL_$']-row['Inverted'])
        row['PorcentInvested'] = row['Inverted']/investing

        varInvesting = varInvesting-row['Inverted']
    else: #si llega o quiere pasar el limite de la invercion
        row['Inverted'] = varInvesting
        row['PorcentInvested'] = row['Inverted']/investing

        varInvesting = 0'''

print(investingData.loc[:,['NameClass','Name','Protocol','Chain','TVL_$','APY_%','Inverted','PorcentInvested']].sort_values(by=['Inverted'],  ascending=False))
if porcentMin<0:
    print('No se cumple minimo de invercion Clase A')
elif porcentMin>=0:
    print('Se cumple minimo de invercion Clase A')

Class A invirtiendo lo minimo
    NameClass       Name    Protocol      Chain      TVL_$  APY_% Inverted  \
289   Class C   USDCEURS     Uniswap    Polygon      22694  25.82        0
144   Class C   HUSDUSDT        MDEX       Heco    1193425   1.46        0
251   Class C    USDCDAI       Beefy    Polygon      96684   1.24        0
11    Class A   USDCUSDT     Uniswap   Ethereum  167894998   1.28        0
244   Class C  USDCfUSDT  SpookySwap     Fantom     112240   1.28        0
..        ...        ...         ...        ...        ...    ...      ...
165   Class C        MIM       Yearn   Ethereum     850616   3.98        0
205   Class C   USDTBUSD    Autofarm  BNB Chain     243578   4.04        0
88    Class C       USDC     cBridge  Avalanche    4081938   4.06        0
196   Class C   BUSDUSDT     Uniswap   Ethereum     306496   4.07        0
14    Class A   FRAXUSDC     Uniswap   Ethereum  116809567   0.01        0

    PorcentInvested
289               0
144               0
251               0
11                0
244               0
..              ...
165               0
205               0
88                0
196               0
14                0

[292 rows x 8 columns]
    NameClass       Name    Protocol      Chain      TVL_$  APY_% Inverted  \
289   Class C   USDCEURS     Uniswap    Polygon      22694  25.82        0
144   Class C   HUSDUSDT        MDEX       Heco    1193425   1.46        0
251   Class C    USDCDAI       Beefy    Polygon      96684   1.24        0
11    Class A   USDCUSDT     Uniswap   Ethereum  167894998   1.28        0
244   Class C  USDCfUSDT  SpookySwap     Fantom     112240   1.28        0
..        ...        ...         ...        ...        ...    ...      ...
165   Class C        MIM       Yearn   Ethereum     850616   3.98        0
205   Class C   USDTBUSD    Autofarm  BNB Chain     243578   4.04        0
88    Class C       USDC     cBridge  Avalanche    4081938   4.06        0
196   Class C   BUSDUSDT     Uniswap   Ethereum     306496   4.07        0
14    Class A   FRAXUSDC     Uniswap   Ethereum  116809567   0.01        0

    PorcentInvested
289               0
144               0
251               0
11                0
244               0
..              ...
165               0
205               0
88                0
196               0
14                0

[292 rows x 8 columns]
Se cumple minimo de invercion Clase A